<div> 
  <form path="<%= login_path %>">
    <label for="email">Email</label>
    <input class='form-control' type='text' name="email" />
    <label for="password">Password</label>
    <input class='form-control' type='password' name="password" />
  </div>
  <div class="footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <input type="submit" class="btn btn-primary" value="Sign In" />
  </div>
</form>
</form>
</div>

