<div id="amanda-and-trevor-content" class="row">
  <h1 class="text-center col-md-12">Amanda &amp; Trevor</h1>
  <p class="col-md-10 col-md-offset-1 col-sm-12">
    We were introduced to each other through a mutual friend, the wonderful Britt Ramsay. She was Trevor’s roommate at the 
    time, and was a fellow teacher and classmate of Amanda’s. We think she was probably just trying to get Trevor out of 
    the house, but we could not be more thankful she decided to introduce us. Our first date was at Denver Beer Company, where 
    amongst many other important questions, Trevor asked Amanda if she skied. Fortunately, she did, and we quickly followed up 
    that first date with a skiing date at Loveland Ski Area. This is when Trevor learned that not only did Amanda ski, but 
    she did so extremely well, and he would be very challenged trying to keep up!
  </p>

  <p class="col-md-10 col-md-offset-1 col-sm-12">
    We then proceeded to spend the next few months dating. During that time we learned so much from one another, and 
    grew into both a couple, and individuals, we could have never become without the other. After about a year and a half, we 
    took a trip down to Telluride where we would have gotten engaged, if Trevor had known when Memorial day was, and ordered 
    the ring on time. Fortunately it worked out, as we were able to get engaged instead on the front porch of the beautiful 
    Denver square that we own together. We were mesmerized by the beauty of the San Juan mountains during our time in Telluride. We
    decided that is the place we wanted to commit ourselves to each other for the rest of our lives, and we are very excited 
    for you to all join us in Ouray to do just that!
  </p>
</div>
