<div id="friday-content">
    <h1 class="text-center col-md-12">Friday</h1>
    <h3>During the day</h3>
    One of our favorite Ouray activities is playing in the 
    <a href="http://www.ouraycolorado.com/discover-ouray/hot-springs-pool.php"> hot springs</a>.
    <p>I love to beat Amanda at water basketball in the large “cool pool,” at which point Amanda usually 
    suggests a race in the permanent lap pool (and we all know who wins those).  Other perks include the water slides, 
    the gladiator-like obstacle course, and the “lobster pot.”</p>
    
    <p>With so much to offer the young and young at heart, we thought that the hot springs would be a 
    great place to visit and have fun with our guests before the big day.  We will plan on arriving 
    when they open (around 10:00) and staying until we run out of sunscreen (probably around 4:00 or so).   
    Plan on bringing a picnic lunch and some moola for admission (prices can be found on the website).</p>

    <h3>Friday night</h3>
    <p>We would like to invite all guests that are in town on Friday night to our rehearsal dinner 
    barbecue at the ceremony and reception spot <a href="http://www.secretgardenouray.com">Secret Garden</a>.
    Dinner will start at 7:00, and Informal dress (i.e. flip flops, shorts, comfortable summer dresses) is encouraged.  
    Please RSVP with your wedding invitation, as we will need a head count!
    </p>
</div>
