<div id="friday-content">
  <div class="row">
    <h1 class="text-center col-md-12">Friday</h1>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">During the day - 10am to 2:30pm</h3>
        </div>
        <div class="panel-body">
          <p>
          One of our favorite Ouray activities is playing in the 
          <a href="http://www.ouraycolorado.com/discover-ouray/hot-springs-pool.php"> hot springs</a>.
          I love to beat Amanda at water basketball in the large “cool pool,” at which point Amanda usually 
          suggests a race in the permanent lap pool (and we all know who wins those).  Other perks include the water slides, 
          the gladiator-like obstacle course, and the “lobster pot.”
          </p>

          <p>With so much to offer the young and young at heart, we thought that the hot springs would be a 
          great place to visit and have fun with our guests before the big day.  We will plan on arriving 
          when they open (around 10:00) and staying until we run out of sunscreen (probably around 2:30 or so).   
          Plan on bringing a picnic lunch and some moola for admission (prices can be found on the website).
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Friday night - Rehearsal Dinner at 6pm</h3>
        </div>
        <div class="panel-body">
          <p>We would like to invite all guests that are in town on Friday night to our rehearsal dinner 
          barbecue at the ceremony and reception spot <a href="http://www.secretgardenouray.com">Secret Garden</a>.
          Dinner will start at 6:00, and Informal dress (i.e. flip flops, shorts, comfortable summer dresses) is encouraged.  
          Please RSVP with your wedding invitation, as we will need a head count!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
