<div id="getting-to-ouray-content">
  <h1 class="text-center col-md-12">Getting To Ouray</h1>
  <p>
  If you are flying to the wedding, we recommend flying into Denver, Montrose or Durango. 
  Montrose and Durango are smaller airports, so will probably be a little bit more expensive, 
  but are also much closer to Ouray. If you decide to fly in to Denver, please see the 
  driving directions below.
  </p>

  <div class="panel-default panel">
    <div class="panel-heading"><h3 class="panel-title">Via US-285 and US-50</h3></div>
    <div class="panel-body">
      <div class="alert alert-danger alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Construction Warning</strong>:
        There is a lot of construction on US-50 at the moment, and traffic is reduced to a single
        lane in multiple sections. Please allow for additional travel time.
      </div>
      <p>
      If you are driving from Denver, there are two routes to Ouray which are about the same distance and 
      travel time. Our favorite is to take US-285 south to US-50 west US-550 south. This will take you through 
      South Park to Buena Vista where there is a beautiful view of four 14,000ft peaks, known as the collegiates. 
      After this you will head south towards one of our favorite mountain towns, Salida. 
      If you have some time, we would highly recommend a visit to this cute mountain town right on the banks of 
      the Arkansas river. From Salida, you will head west on US-50 over Monarch pass and through the town of 
      Gunnison (which is just 30 miles south of Crested Butte). After passing through Gunnison, you will travel by 
      the Blue Mesa reservoir, Colorado’s largest body of water. Shortly before reaching Montrose, you will pass by 
      the entrance for the Black Canyon of the Gunnison, a beautiful canyon on the Gunnison river. 
      This is another great place to stop if you have some time, the views are amazing! Montrose is the last 
      sizeable city, and is about an hour away from Ouray. Head south on US-550 out of Montrose and you’ll end up in Ouray.
      </p>
    </div>
  </div>
  <div class="panel-default panel">
    <div class="panel-heading"><h3 class="panel-title">Via I-70</h3></div>
    <div class="panel-body">
      <p>
      Another option when travelling from Denver is to take I-70 west to US-50 east to US-550 south. 
      The biggest benefit of this route is getting to travel on an interstate for a large portion of the drive. 
      From Denver, I-70 west will take you up into the mountains, and you will be able to see many Colorado’s 
      popular ski areas from the highway, including Loveland, Copper, Vail, and Beaver Creek. I-70 descends 
      from the mountains into Glenwood Springs through the magnificent Glenwood Canyon, home of the beautiful 
      Hanging Lake if you’d like to stop for a quick little hike and photo opportunity. Glenwood Springs has 
      many restaurants and Hotels, and is about half-way to Ouray if you feel like splitting the drive into 
      multiple days. From Glenwood Springs, you’ll continue to travel west to Grand Junction (which is another 
      great place to stop or sleep over). From Grand Junction, head south on US-50 east to Montrose, 
      where you’ll continue south on US-550 south to Ouray.
      </p>
    </div>
  </div>
</div>
