<div id="index-content">
    <div class="index-content">
        <h1 class="text-center col-md-12">Trevor &amp; Amanda Are Getting Hitched!</h1>

        <div class="center-block col-md-12">
          <%= image_tag('save_the_date.jpg', class: 'img-responsive img-circle') %>
        </div>
        <p class="text-left col-md-4 lead">
            <span class="bold h3">When?</span>
            <br/>
            July 25, 2015
        </p>

        <p class="text-center col-md-4 lead">
            <span class="bold h3">Where?</span>
            <br/>
            Ouray, CO
        </p>

        <p class="text-right col-md-4 lead">
            <span class="bold h3">Why?</span>
            <br/>
            Because we're in love!
        </p>

        <div class="col-md-12 text-left info index-copy">
            <p>
              With each day that passes, we grow even more excited to share our special day with you this July!  
              We've been busy planning a fun few days leading up to the wedding, and are hopeful that you 
              will be able to join us. It's hard to believe we're just a few months away - we would love to know 
              if you will be able to attend! To help us with this, please create a login by clicking the
              <a href="javascript:void(0)" data-toggle="modal" data-target="#loginModal">login link</a> at the top of the page, create an account, and RSVP at your earliest convenience.
              In order to create an account you will need use the email we have for you
              and a password of your choice. This can be done by clicking the "create account" link after clicking
              the <a href="javascript:void(0)" data-toggle="modal" data-target="#loginModal">login link</a> above.
              Once you are logged in, you will see an RSVP button at the top of the screen. Not sure if you can make it yet? Have no fear - there is still time! We're asking that all guests RSVP by May 31.
              If you have any questions about creating an account or our big day, please don't hesitate to
              <a href="mailto:jacksoAL1@gmail.com">e-mail my beautiful fiance</a>.
            </p>
        </div>
    </div>
</div>
