<div id="index-content">
    <div class="index-content">
        <h1 class="text-center col-md-12">Trevor &amp; Amanda Are Getting Hitched!</h1>

        <div class="center-block col-md-12">
          <%= image_tag('save_the_date.jpg', class: 'img-responsive img-circle') %>
        </div>
        <p class="text-left col-md-4">
            <span class="bold h3">When?</span>
            <br/>
            July 25, 2015
        </p>

        <p class="text-center col-md-4">
            <span class="bold h3">Where?</span>
            <br/>
            Ouray, CO
        </p>

        <p class="text-right col-md-4">
            <span class="bold h3">Why?</span>
            <br/>
            Because we're in love!
        </p>

        <div class="col-md-12 text-left info">
            <p>
              With each day that passes, we grow even more excited to share our special day with you this July!  
              We've been busy planning a fun few days leading up to the wedding, too, and are hopeful that you 
              will be able to join us. It's hard to believe we're just a few months away - we would love to know 
              if you will be able to attend! To help us with this, please create a login by clicking the
              <a href="javascript:void(0)" data-toggle="modal" data-target="#loginModal">login link</a> at the top of the page. 
              You will need a login when we send out the official invitations (which should be very soon) so you can
              login to RSVP. In order to login, you will need to create an account with the email we have for you
              and a password of your choice. This can be done by clicking the "create account" link after clicking
              the <a href="javascript:void(0)" data-toggle="modal" data-target="#loginModal">login link</a> above.
              If you have any questions about creating an account or our big day, please don't hesitate to
              <a href="mailto:jacksoAL1@gmail.com">e-mail my beautiful fiance</a>.
            </p>
        </div>
    </div>
</div>
