<div id="index-content">
  <div class="index-content">
    <div class="row">
      <h1 class="text-center col-md-12">Trevor &amp; Amanda Are Getting Hitched!</h1>
      <div class="center-block col-md-12">
      <%= image_tag('save_the_date.jpg', class: 'img-responsive img-circle') %>
      </div>
    </div>
    <div class="row">
      <p class="text-left col-md-3 col-md-offset-1 col-sm-4 lead">
      <span class="bold h3">When?</span>
      <br/>
      July 25, 2015
      </p>

      <p class="text-center col-md-4 col-sm-4 lead">
      <span class="bold h3">Where?</span>
      <br/>
      <a href="/wedding-day">The Secret Garden</a>
      <br/>
      Ouray, CO
      </p>

      <p class="text-right col-md-3 col-sm-4 lead">
      <span class="bold h3">Why?</span>
      <br/>
      Because we're in love!
      </p>
    </div>
    <div class="row index-copy">
      <div class="col-md-8 col-md-offset-2">
        <div class="alert alert-info">
          <h3 class="text-center">Imporant Times and Events</h3>
          <dl class="dl-horizontal">
            <dt>Thursday<dt>
            <dd><em>6:30-8:30</em> Join us and our guide, Dr. Morgan Reitmeyer, for a ghost tour around the haunted streets of Ouray. We will be meeting at
            the wedding venue, <a href="/wedding-day">The Secret Garden</a>, and departing for the tour at 6:30.
            <dd><em>8:30-10</em> The tour will finish at <a href="http://ouraybrewery.com/">Ouray Brewing Company</a>, where
            we will stay until closing at 10. Come join us for a beer!
            </dd>

            <dt>Friday</dt>
            <dd><em>10-2:30</em> Hang out at the 
              <a href="http://www.ouraycolorado.com/discover-ouray/hot-springs-pool.php"> Ouray Hot Springs</a>.
            </dd>
            <dd><em>6-9</em> Rehearsal dinner at <a href="/wedding-day">The Secret Garden</a>.</dd>

            <dt>Saturday</dt>
            <dd><em>4-10</em> Wedding Day at <a href="/wedding-day">The Secret Garden</a>, ceremony begins at 4.</dd>
          </dl>
        </div>
      </div>
      <div class="col-md-12 text-left info panel panel-default">
        <div class="panel-body">
          <h2 class="text-center">It's Almost Here!</h2>
          <p>We can't believe how quickly time has flown by! In just a few days, Amanda and I will be
          married, and we couldn't be more excited to get to celebrate this wonderful day with our closest
          friends and family. I am writing this from Ouray, and I'm sure most have you have begun your journey
          to the beautiful San Juan mountains. For those that are not yet on the road, we wanted to give you 
          a quick update. There are two routes mentioned on the <a href="/getting-to-ouray">Getting to Ouray</a>
          page. I still highly recommend the US-285 to US-50 route, however there is a lot of construction
          being done on US-50 at the moment. If you've never been that way, I would just plan a little extra time for
          the delays, but still go that route for the beauty of it. If you have been that way before, you
          might want to consider taking the I-70 route to avoid the construction.</p>

          <p>We have also moved the time of the rehearsal dinner up from 7pm to 6pm, and would like to remind
          all guests that you are welcome to attend. Dinner and libations will be provided, 
          so please stop by if you're in town.</p>

          <p>Finally, my phone has no service in the box canyon here, so please either get in touch via the
          interwebs, or contact Amanda on her phone if you need to get a hold of us. Looking forward to seeing
          everyone, we can't wait to celebrate with you all!</p>
        </div>
      </div>
    </div>
  </div>
</div>
