<div id="index-content">
    <div class="index-content">
        <h1 class="text-center col-md-12">Trevor &amp; Amanda Are Getting Hitched!</h1>

        <div class="center-block col-md-12">
          <%= image_tag('save_the_date.jpg', class: 'img-responsive img-circle') %>
        </div>
        <p class="text-left col-md-4">
            <span class="bold h3">When?</span>
            <br/>
            July 25, 2015
        </p>

        <p class="text-center col-md-4">
            <span class="bold h3">Where?</span>
            <br/>
            Ouray, CO
        </p>

        <p class="text-right col-md-4">
            <span class="bold h3">Why?</span>
            <br/>
            Because we're in love!
        </p>

        <div class="col-md-12 text-left info">
            <h3 class="text-center">What Should I Know?</h3>

            <p>
                For right now, just know to check back here for updates. In addition to information about the venue
                and fun wedding events that we have planned, we will also be using the site for RSVPs, and to quickly
                send information to our guests. Soon there will be login functionality to the site, at which point
                we will request that you please create an account to aide us in our communication. Until then just
                get excited for a wonderful wedding weekend in beautiful Ouray, CO!
            </p>
        </div>
    </div>
</div>
