<div id="officiant-content">
    <h1 class="text-center col-md-12">Officiant</h1>
    <p>
      When Trevor and I first started dating, I lived in a basement apart in Denver’s Highlands neighborhood.  
      It smelled a little funny and had no natural light, but any downsides of “the cave” were made up or by the 
      loveliness of the communal grill, garden, and visiting space in the backyard, which I shared with four other units.  
      Trevor frequently visited my apartment after work, and those visits often turned into dinner and late night discussions 
      with my lovely upstairs neighbor, Morgan Reitmeyer. I would eventually move in with Morgan, who increasingly became an 
      ever more important part of our lives. Trevor would, unfortunately, steal me away from Dr. Reitmeyer so that we could 
      live in our beautiful home on High St. Trevor believes that Morgan is still plotting her revenge.
    </p>

    <p>
      Morgan grew up in Colorado and, after moving away to receive her PhD at Purdue, returned to Denver.  
      She is now a professor of rhetoric and writing at Regis University in Denver.  
      Morgan is always up for an adventure of any sort: backpacking, backcountry skiing, 
      Friday night roller skating (much to Trevor’s dismay), and long walks around the twilight-lit 
      neighborhood are just a few activities that Morgan has joined us on.  It goes without saying 
      that Morgan has been an important part of our relationship from the beginning, and there was no 
      question that we wanted her as a part of our wedding. She has been involved from the start, 
      encouraging Trevor and I to journal about our love, our challenges, and our appreciation for one another.  
      We can’t imagine anybody else walking us through our vows.
    </p>
</div>
