<h1>Wedding Registry</h1>

<div id='registry-content'>
  <p>The gift we are most looking forward to is being able to share this special day with you. 
  However, we will not decline additional gifts, and have registered at REI, Macy's, and 
  Amazon.com.</p>

  <ul class='regitries list-unstyled'>
    <li>
      <p><a href='http://www.rei.com/GiftRegistryDetails/GR110258742'>REI</a>: Our 
      REI registry ID is <em class='registry-id'>GR110258742</em></p>
    </li>
    <li>
      <p><a href='http://www1.macys.com/registry/wedding/guest/?registryId=6274079'>Macy's</a>: Our 
      Macy's registry ID is <em class='registry-id'>6274079</em></p>
    </li>
    <li>
      <p><a href ='http://www.amazon.com/gp/registry/wedding/2JWGBB0ZPDKGY'>Amazon.com</a>: We 
      think our Amazon registry ID is <em class='registry-id'>2JWGBB0ZPDKGY</em></p>
    </li>
  </ul>

  <p>Didn't see much? Yeah, we're still in the process of figuring all this out, and we'll be
  updating them soon!</p>
</div>
