<h1>Wedding Registry</h1>

<div id='registry-content'>
  <p>The gift we are most looking forward to is being able to share this special day with you. 
  However, we will not decline additional gifts, and have registered at REI, Macy's, and 
  Amazon.com.</p>

  <ul class='regitries'>
    <li>
      <p><a href='http://www.rei.com/GiftRegistryDetails/GR110258742'>REI</a>: Our 
      REI registry ID is <pre class='registry-id'>GR110258742</pre></p>
    </li>
    <li>
      <p><a href='http://www1.macys.com/registry/wedding/guest/?registryId=6274079'>Macy's</a>: Our 
      Macy's registry ID is <pre class='registry-id'>6274079</pre></p>
    </li>
    <li>
      <p><a href ='http://www.amazon.com/gp/registry/wedding/2JWGBB0ZPDKGY'>Amazon.com</a>: We 
      think our Amazon registry ID is <pre class='registry-id'>2JWGBB0ZPDKGY</pre></p>
    </li>
  </ul>

  <p>Didn't see much? Yeah, we're still in the process of figuring all this out, and we'll be
  updating them soon!</p>
</div>
