<div id='rsvp-notifications' class='hidden'>
  <button id='close-notifications' type="button" class="close" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class='content' />
</div>
<h1 class="text-center col-md-12">RSVP</h1>
<div id='guest-list'>
</div>
