<div id="rsvpModal" class="modal fade" role="dialog" aria-hidden="true" aria-labelledby="rsvpLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title login-element" id="rsvpLabel">RSVP</h4>
      </div>
      <form id="rsvp-form" class='login-element'>
        <div class="modal-body">
          <div id='guest-list'>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>

