<div id="things-to-do-content">
    <h1 class="text-center col-md-12">Things To Do</h1>
    <p>
      The San Juan mountains are our favorite mountain range in Colorado. In addition to their sheer beauty, 
      the also offer an endless selection of outdoor activities, including:
    </p>
    <ul>
      <li>Mountain Biking</li>
      <li>Fly Fishing</li>
      <li>Hiking</li>
      <li>14ers</li>
      <li>Jeep Tours</li>
      <li>Mine Tours</li>
      <li>Golf</li>
    </ul>
    <p>
      In addition to these activities, Ouray is also within an hours drive from the beautiful mountain towns of 
      Telluride and Silverton, which are definitely worth the visit if you haven’t been before.
      We encourage everyone to visit our facebook group to find like-minded guests and plan an outing together. 
      We have a few things planned in town, but we highly encourage our guest to take advantage of their time in 
      this beautiful part of the state and enjoy some of these great activities.
    </p>
</div>
