<div id="thursday-content">
  <div class="col-md-12">
    <h1 class="text-center">Thursday</h1>
  </div>

  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">During the day</h3>
      </div>
      <div class="panel-body">
        <p>
        We will be in Ouray all day Thursday and Friday before the wedding.  
        If you can manage, we encourage you to come down early too and enjoy the amazing scenery and 
        outdoor activities the San Juan mountains have to offer. In addition to the events listed below, 
        we have also set up a facebook group, which we hope you’ll join so you can meet new friends with 
        common interests to plan an activity with.
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Thursday night -- Ghost Tour &amp; Brewery</h3>
      </div>
      <div class="panel-body">
        <p>
        Morgan Reitmeyer, the wonderful and talented officiant for the big event, 
        will be organizing a Ouray ghost tour for all of our guests who are interested in 
        learning more about the creepy history of the small town.  Afterwards, we will be at the 
        <a href="http://ouraybrewery.com/">Ouray Brewing Company</a> for some tasty brews.  We would love to 
        visit with anybody that is thirsty, in town, and interested in mingling!
        </p>
      </div>
    </div>
  </div>
</div>
