<div id="thursday-content">
    <h1 class="text-center col-md-12">Thursday</h1>
    <p>In case you feel like arriving at our favorite Colorado mountain a few days early, we're coordinating a few event.
    </p>
</div>
