{{#if signedIn}}
  <a class='logout btn btn-large btn-danger'>Log Out</a>
  {{#if userIsAdmin}}
    <a id='admin-link' class='btn btn-large btn-primary' href="{{adminLink}}">Admin</a>
  {{else}}
    <a id='rsvp-link' class='btn btn-large btn-success' data-target="#rsvpModal" data-toggle="modal">RSVP</a>
  {{/if}}
{{else}}
  <a data-toggle="modal" data-target="#loginModal" class='login btn btn-default btn-large'>Log In</a>
{{/if}}

