<div id="wedding-day-content">
  <h1 class="text-center col-md-12">Wedding Day at The Secret Garden</h1>
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="center-block" frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?q=Secret%20Garden%20Bed%20%26%20breakfast%2C%206th%20Avenue%2C%20Ouray%2C%20CO%2C%20United%20States&key=AIzaSyA1z-FuRqCHLn9sYnZf4Wq5ZwyLFEivHuE"></iframe>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-sm-12">
      <p>
        Both the ceremony and reception will take place at a beautiful outdoor venue, 
        <a href="http://www.secretgardenouray.com">A Secret Garden Bed and Breakfast</a>, 
        located at <a href="http://goo.gl/3HIFYP">101 6th Ave, Ouray, CO 81427</a>.  The ceremony will start at 4:00 PM, and drinks 
        and dinner will begin shortly thereafter.  The party will continue for all hours into the night (or, say, 10:00) 
        so bring your dancing shoes.  Even in the summertime, The “Switzerland of America” can get a little 
        chilly at night - you might want to bring a light jacket just in case.
      </p>
    </div>
</div>
