<div id="wedding-day-content">
    <h1 class="text-center col-md-12">Wedding Day</h1>
    <p>
      Both the ceremony and reception will take place at a beautiful outdoor venue, 
      <a href="http://www.secretgardenouray.com">A Secret Garden Bed and Breakfast</a>, 
      located at <a href="goo.gl/3HIFYP">101 6th Ave, Ouray, CO 81427</a>.  The ceremony will start at 4:00 PM, and drinks 
      and dinner will begin shortly thereafter.  The party will continue for all hours into the night (or, say, 11:00) 
      so bring your dancing shoes.  Even in the summertime, The “Switzerland of America” can get a little 
      chilly at night - you might want to bring a light jacket just in case.
    </p>
</div>
