<div id="where-to-stay-content">
    <h1 class="text-center col-md-12">Where to Stay In Ouray</h1>
    <p>
      Since July is the busiest month of the year in Ouray, no discounted rates were available for wedding guests.  
      With up to 700 available rooms in the town of Ouray, we have no doubt that you will find something that suits your needs.
    </p>

    <p>
      When booking a room, condo, house, VRBO, or campsite, we suggest that you double check its proximity to the 
      Bed and Breakfast where most of the events will be happening: most are within walking distance!
    </p>

    <p>
      The locations listed below are some places that we have been or have been recommended to us by the owner of the B&B.  
      This is by no means an inclusive list of the places available in Ouray:
    </p>
    <ul>
      <li>Ouray Amphitheater Campground (for you adventurous folks)</li>
      <li>The Beaumont Hotel (for those of you who want to stay in an award winning historic hotel)</li>
      <li>The Box Canyon Lodge</li>
      <li>Black Bear Manor</li>
    </ul>
</div>
