<li class="<%= small ? 'navbar-left' : '' %> navigation-item dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">Events <span class="caret"/></a>
  <ul class="dropdown-menu" role="menu">
    <li class="dropdown-item"><a href="/thursday">Thursday</a></li>
    <li class="dropdown-item"><a href="/friday">Friday</a></li>
    <li class="dropdown-item"><a href="/wedding-day">Wedding Day</a></li>
  </ul>
  </li>
  <li class="<%= !small ? 'navbar-left' : '' %> left-bookend navigation-item dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">People <span class="caret"/></a>
    <ul class="dropdown-menu" role="menu">
      <li class="dropdown-item"><a href="/officiant">Officiant</a></li>
      <li class="dropdown-item"><a href="/amanda-and-trevor">Amanda & Trevor</a></li>
      <%# <li class="dropdown-item"><a href="/wedding-party">Wedding Party</a></li> %>
    </ul>
    </li>
  <% unless small %>
    <li class="logo-spacer">
      <div>
        &nbsp;
      </div>
    </li>
  <% end %>
  <% if small %>
    <li class="navigation-item dropdown">
      <%= render partial: 'places' %>
    </li>
    <li class="navbar-right last navigation-item"><a href="/registry">Registry</a></li>
  <% else %>
    <li class="navbar-right last navigation-item"><a href="/registry">Registry</a></li>
    <li class="places-container-large navbar-right navigation-item dropdown">
      <%= render partial: 'places' %>
    </li>
  <% end %>
