<a href="#" class="dropdown-toggle" data-toggle="dropdown">Places <span class="caret"></a>
<ul class="dropdown-menu places-dropdown" role="menu">
    <li class="dropdown-item"><a href="/getting-to-ouray">Getting to Ouray</a></li>
    <li class="dropdown-item"><a href="/things-to-do">Things to Do</a></li>
    <li class="dropdown-item"><a href="/where-to-stay">Where to Stay</a></li>
    <li class="dropdown-item"><a href="/secret-garden">Wedding Location</a></li>
</ul>
